@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Show number input spinners */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button;
    display: inline-block;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
